
<div class="welcome-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sistema Nexus</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Este es un sistema de demo para el curso de Ingenieria de Software  que ha sido desarrollado únicamente con fines demostrativos. 
        Por favor, tenga en cuenta que este sistema no debe ser utilizado en ambientes productivos.
      </p>
      <p>
        Desarrollado por: <strong>Henry Wong</strong>
      </p>
    </mat-card-content>
  </mat-card>
</div>
